* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f5f5;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: azure;
    margin: 50px;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.top {
    position: relative;
    width: 100%;
    height: 400px;
    background: linear-gradient(45deg, navy, firebrick);
    padding: 50px;
}
h2 {
    font-size: 3em;
    color: azure;
    text-transform: uppercase;
    line-height: 0.7em;
    letter-spacing: 0.1em;
}
h2 span {
    font-size: 0.4em;
    font-weight: 300;
}


.group {
    position: relative;
    display: grid;
    gap: 40px;
    width: 100%;
    margin-top: 20px;
    grid-template-columns: 2fr 3fr;
}
.group .imgBox {
    position: relative;
    width: 100%;
}
.group .imgBox img {
    width: 100%;
}
.group p {
    font-size: 1.1em;
    color: azure;
}


.bottom {
    position: relative;
    display: grid;
    margin: 50px 50px 0;
    gap: 40px;
    grid-template-columns: 2fr 3fr;
}
.bottom .left-side {
    margin-top: 50px;
}

h4 {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: azure;
    background: navy;
    font-weight: 400;
    padding: 0 15px;
    margin-top: 40px;
    display: inline-flex;
}
.contactInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px 0;
}
.contactInfo li {
    list-style: none;
    display: flex;
    gap: 10px;
}
.contactInfo li .icon {
    color: navy;
}
.contactInfo li .text {
    color: #555;
}




.skills {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}
.skills .skillsBox {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 3fr;
}
.skills .skillsBox p {
    color: #333;
}
.skills .skillsBox .value {
    width: 100%;
    background: #eee;
    border: 0.1px solid silver;
    position: relative;
    height: 10px;
}
.skills .skillsBox .value::before {
    content: "";
    position: absolute;
    height: 100%;
    width: var(--i);
    background: navy;
}


.adjustMargin {
    margin-top: -10px;
}
.edu-group {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}
.edu-groupBox {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.edu-groupBox p:nth-child(1){
    font-weight: 500;
}
.edu-groupBox b {
    font-weight: 600;
    color: navy;
}

.edu-groupBox b span {
    position: relative;
    top: -2px;
    font-size: 0.8em;
    color: #666;
}
.hobbies {
    padding: 0 50px 50px;
}
.hobbies ul {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    justify-content: space-between;
}
.hobbies ul li {
    list-style-type: none;
    color: #333;
    width: calc(100% / 5);
    padding: 20px 0;
    display: flex;
    text-align: center;
    background: azure;
    gap: 5px;
    cursor: pointer;
    flex-direction: column;
    transition: 0.5s ease;
}
.hobbies ul li i {
    font-size: 2em;
}
.hobbies ul li:hover {
    color: azure;
    background: navy;
}


@media (max-width:704px){
    .top h2 {
        font-size:1.3em;
    }
    .bottom {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}
